.msfsdk-form-check {
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.msfsdk-form-check a {
    color: #E4272D
}

.msfdk-logged-as {
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-size: 18px;
}