/* Login en header */
.login_d .msfsdk-reset div {
    display: inline-block;
    vertical-align: top;
}

/* Botones en header */
.login_d .msfsdk-reset a {
    padding: 5px 10px;
    font-size: 11px !important;
    font-family: 'jostbook', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.header.navbar .msfsdk-reset a,
.bg_crema .msfsdk-reset a {
    color: #FFFFFF !important;
    background: rgba(255, 255, 255, 0.2);
}

.header.navbar.sticky .msfsdk-reset a,
.bg_crema.sticky .msfsdk-reset a,
.bg_crema.m_interior .msfsdk-reset a,
.bg_crema.h_interior .msfsdk-reset a {
    color: #E4272D !important;
    background: rgba(195, 195, 195, 0.2);
}

.msfsdk-modal-dialog {
    max-width: 600px !important;
    min-width: 300px !important;
}

/* Cuadro modal (pop-up) */
.msfsdk-modal-content {
    border-radius: 4px !important;
}

/* Cuadro título modal (pop-up) */
body .msfsdk-modal-header {
    color: #F1EFDF;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background-color: #E4272D;
    max-height: 60px;
}

/* Texto título modal */
body .msfsdk-modal-title {
    font-size: 17px !important;
    font-family: 'Jost', sans-serif;
    font-weight: 700 !important;
}

/* Cuadro cuerpo modal (pop-up) */
.msfsdk-modal-body {
    padding: 2rem !important;
    padding-top: 0.5rem !important;
}

/* Etiquetas campos modal (pop-up) */
.msfsdk-form-label {
    font-size: 13px;
    color: #E4272D;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    margin-bottom: 3px !important;
}


.msfsdk-form-label a {
    color: #E4272D !important;
}

/* Input modal (pop-up) */
.msfsdk-form-control,
.msfsdk-form-select {
    border-radius: 2px !important;
    font-size: 13px !important;
}

.msfsdk-input-group-text {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.msfsdk-invalid-feedback {
    font-size: 14px;
    color: #262626;
    font-family: 'Jost', sans-serif;
}

/* Boton principal modal (pop-up) */

.msfsdk-btn-primary {
    color: #fff;
    background-color: #E4272D !important;
    border-color: #E4272D !important;
    /* width: 100%; */
    float: right;
    margin-top: 10px;
    font-family: 'Jost', sans-serif;
}

body .msfsdk-reset .msfsdk-btn-primary:focus {
    box-shadow: 0 0 0 0.15rem rgb(228 39 45 / 50%) !important;
}

.msfsdk-was-validated .msfsdk-form-control:invalid,
.msfsdk-form-control.msfsdk-is-invalid {
    border-color: #E4272D !important;
}

.msfsdk-form-control,
.msfsdk-form-select {
    border: 1px solid #333 !important;
    color: #262626 !important;
}

.msfsdk-form-control:focus,
.msfsdk-form-select:focus {
    box-shadow: 0 0 0 0.25rem rgb(51 51 51 / 15%) !important;
}

.msfsdk-input-group-text {
    border: 1px solid #333 !important;
    background-color: #f9f9f9 !important;
}

.msfsdk-label-required {
    color: #E4272D !important;
}

.msfsdk-form-label a {
    background-color: transparent !important;
    padding: 0 !important;
    margin-left: 4px;
    text-transform: capitalize !important;
}

.msfsdk-form-control::-webkit-input-placeholder,
.msfsdk-form-select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8c8c8c !important;
}

.msfsdk-form-control::-moz-placeholder,
.msfsdk-form-select::-moz-placeholder {
    /* Firefox 19+ */
    color: #8c8c8c !important;
}

.msfsdk-form-control:-ms-input-placeholder,
.msfsdk-form-select:-ms-input-placeholder {
    /* IE 10+ */
    color: #8c8c8c !important;
}

.msfsdk-form-control:-moz-placeholder,
.msfsdk-form-select:-moz-placeholder {
    /* Firefox 18- */
    color: #8c8c8c !important;
}

.msfsdk-or-separator {
    clear: both;
}

button.msfsdk-btn.msfsdk-btn-primary.msfsdk-btn-facebook {
    background-color: #1877f2 !important;
    border-color: #0d6efd !important;
}

.auxi button.msfsdk-btn.msfsdk-btn-primary.msfsdk-btn-facebook {
    margin-bottom: 25px
}